.intro-card {
    background: var(--primary-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-color: var(--primary-background-color);
}

.wolfram-input {
    background-color: var(--placeholder-background-color);
    border-color: var(--input-border-color);
    margin-right: 2px;
}

.button-translate {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-button);
    margin-left: 5px;
    color: var(--text-color);
}

.wolfram-input::placeholder {
    color: var(--placeholder);
    opacity: 1;
}

.wolfram-input:focus {
    background-color: var(--input-bg-focus);
    color: var(--text-color);
    opacity: 1;
}

.holder{
    color: var(--text-color);
}

.wolf {
    font-family: monospace;
    color: #bd2929;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--placeholder-background-color) inset !important;
    -webkit-text-fill-color: var(--text-color);
}

.tex {
    font-family: 'TexGyreDejaVuMath';
}

@font-face {
    font-family: 'TeXGyreDejaVuMath';
    src: url('../../fonts/texgyredejavu-math.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.card {
    color: var(--text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: var(--card-body-background-color);
}

.card-header {
    background-color: var(--card-header-background-color);
    color: var(--on-card-header-text-color);
    font-family: monospace;
}

.card-body {
    background-color: var(--card-body-background-color);
    font-family: 'TexGyreDejaVuMath';
}