.navbar {
    background-color: var(--navbar-footer);
    color: var(--text-color);
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: var(--text-color);
}

.navbar-nav .dropdown-menu {
    background-color: var(--navbar-footer);
    color: var(--text-color);
}

.navbar-nav .dropdown-item {
    color: var(--text-color);
}

.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus {
    background-color: var(--dropdown-bg-hover);
    color: var(--dropdown-text-hover);
}

.navbar-nav .nav-link.dropdown-toggle:focus,
.navbar-nav .nav-link.dropdown-toggle:active {
    color: var(--dropdown-active-text-color);
}