.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: var(--primary-background-color);
  color: var(--text-color);
  margin-bottom: 100px;
}

.body-content {
  padding-top: 4rem;
}